################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Async/.vs/Async/v15
/Async/Tasks1/obj/Debug
/Async/Tasks1/bin/Debug
