################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Async/.vs/Async/v15
/Async/**/bin/Debug
/Async/**/obj/Debug

